{% extends "indexSinFoto.html" %}
 
{% block body %}

<div class="da-section bg-light" id="egresados">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up">Egresados</div>
      <div class="row">
        <div class="container">
        <div class="row">
          <div class="col-md-13 col-sm-12 mb-8">
            <div class="">
              <div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Estadisticas</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
         <div class="col-md-12">
            <div class="progress-container progress-primary"><span class="progress-badge">Usuarios que han usado la aplicacion</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{usoApp}}%;"></div><span class="progress-value">{{usoApp}}%</span>
              </div>
            </div>
          </div>
           <div class="col-md-12">
          </div>
            <div class="col-md-12">
            <div class="progress-container progress-primary"><span class="progress-badge">Usuarios que han usado la api de linkedin</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{usoLinkedin}}%;"></div><span class="progress-value">{{usoLinkedin}}%</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
            <div class="col">
              <a class="btn btn-primary" href="{% url 'app_usos_xls' %}"> Reporte de uso de la aplicacion</a>
            </div>
        </div>
</div>
            </div>
          </div>
        </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="cargadores">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up">Usuarios que aportan datos</div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-13 col-sm-12 mb-8">
            <div class="">
              <form action="./registrar/" method="POST" name="registrar">
                      <div class="p pb-3"><strong> Registrar cargador de datos </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"></span>
                            <input class="form-control" type="email" name="name" placeholder="usuario@correo.com" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"></span>
                            <input class="form-control" type="number" name="confianza" placeholder="" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Registrar</button>
                        </div>
                      </div>
              </form>
              <form action="./eliminar/" method="POST" name="registrar">
                      <div class="p pb-3"><strong> Eliminar usuario </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"></span>
                            <input class="form-control" type="email" name="name" placeholder="usuario@correo.com" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Eliminar</button>
                        </div>
                      </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>
<script>

var form = document.forms.namedItem("registrar");

form.addEventListener('submit', function(ev) {

  var user = {{user}}
  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, exitosamente cargados", "success");
      } else {
        $.notify("Error al cargar los datos, favor intentar luego", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error al cargar los datos, favor intentar luego", "error");
  };

  ev.preventDefault();
  oData = new FormData(form);
  debugger
  oReq.open("POST", endPoint.format("vicerrector/registrar", ""), true);
  oReq.send(oData);
  
}, false);

var form1 = document.forms.namedItem("eliminar");

form1.addEventListener('submit', function(ev) {

  var user = {{user}}
  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, exitosamente cargados", "success");
      } else {
        $.notify("Error al cargar los datos, favor intentar luego", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error al cargar los datos, favor intentar luego", "error");
  };

  ev.preventDefault();
  oData = new FormData(form1);
  debugger
  oReq.open("POST", endPoint.format("vicerrector/eliminar", ""), true);
  oReq.send(oData);
  
}, false);


</script>



{% endblock %}
