{% extends "index.html" %}
 
{% block body %}
<style>
  .destacado {
  margin-top: 6em;
}

 .boton{display:block; margin:auto; width:100px;}
</style>

  <div class="section destacado" id="perfil">
    <div class="container">
        <div class="row">
            <div class="col">
              <a class="btn btn-primary" href="linkedin/"> Obtener perfil Linkedin </a>
            </div>
        </div>
    </div>
  </div>

  <div class="section destacado" id="perfil">
    <div class="container">
      <div class="h4 text-center mb-4 title"> </div>

          <form method="POST" name="perfilform" >
          <div class="row mb-3">
            <div class="col">
              <label > Nombre </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="nombre" value="{{ perfil.nombre }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
               <label > Apellido </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="apellido" value="{{ perfil.apellido }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label > Telefono </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="tel" name="telefono" value="{{ perfil.telefono }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
               <label > Url </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="url" value="{{ perfil.url }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
               <label > Correo </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="email" name="correo" value="{{ perfil.correo }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label > Direccion </label>
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="direccion" value="{{ perfil.direccion }}"/>
              </div>
            </div>
          </div>
         
        </form >
        <div class="row">
            <div class="col">
              <button class="btn btn-primary" onclick="enviarPerfil()">Actualizar</button>
              <a class="btn btn-primary" href='./cerrar' >Borrar</a>
            </div>
        </div> 
        </div>
      </div>

  <div class="section" id="trabajos">
    <div class="container" id="trabajo">
      <div class="h4 text-center mb-4 title"> Experiencia laboral </div>
      {% for values in trabajos %}

        <div id="trabajo{{values.id}}">
        <form method="POST" name="trabajo{{values.id}}">

          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="titulo" value="{{ values.empresa }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="date" name="fecha" value="{{ values.fecha }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="nombre" value="{{ values.cargo }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="url" name="url" value="{{ values.url }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="descripcion" value="{{ values.descripcion }}"/>
              </div>
            </div>
          </div>
        </form>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary" onclick="actualizar('trabajo', '{{values.id}}')">Actualizar</a>
              <a class="btn btn-primary" onclick="borrar('trabajo', '{{values.id}}')" >Borrar</a>
            </div>
          </div>
        </div> 

      {% endfor %} 
    </div>
    <div class="boton">
          <div class="col">
            <a class="btn btn-primary" onclick="agregar('trabajo','Empresa','fecha','Cargo','Url','Descripcion')" >Agregar</a>
           </div>
        </div> 
  </div>

  <div class="section" id="estudiosUC">
    <div class="container" id="estudioUC">
      <div class="h4 text-center mb-4 title"> Estudios en la UC </div>
      {% for values in estudiosUC %}

        <div id="estudioUC{{values.id}}">
        <form method="POST" name="estudioUC{{values.id}}">

          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="titulo" value="{{ values.titulo }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="date" name="fecha" value="{{ values.fecha }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="nombre" value="{{ values.facultad }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="url" name="url" value="{{ values.url }}"/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group"><span class="input-group-addon"></span>
                <input class="form-control" type="text" name="descripcion" value="{{ values.descripcion }}"/>
              </div>
            </div>
          </div>
        </form>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary" onclick="actualizar('estudioUC', '{{values.id}}')">Actualizar</a>
              <a class="btn btn-primary" onclick="borrar('estudioUC', '{{values.id}}')" >Borrar</a>
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
    <div class="boton">
          <div class="col">
            <a class="btn btn-primary" onclick="agregar('estudioUC','titulo','','facultad','url','descripcion')" >Agregar</a>
           </div>
        </div>
  </div>

{% endblock %}

{% block logica %}
<script>

  nuevo = '<div id="{0}{1}">' +
            '<form method="POST" name="{0}{1}">' + 

              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="text" name="titulo" placeholder="{2}"/>' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="date" name="fecha" placeholder="{3}"/>' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="text" name="nombre" placeholder="{4}"/>' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="url" name="url" value="www.sigeuc.edu.ve" placeholder="{5}"/>' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="text" name="descripcion" placeholder="{6}"/>' +
                  '</div>' +
                '</div>' +
              '</div>' +

          '</form>' +
          '<div class="row">' +
            '<div class="col">' +
              '<a class="btn btn-primary" onclick="actualizar(`{0}`,`{1}`)">Actualizar</a>' +
              '<a class="btn btn-primary" onclick="borrar(`{0}`,`{1}`)" >Borrar</a>' +
            '</div>' +
          '</div>' +
        '</div>'

  nuevoUC = '<div id="{0}{1}">' +
            '<form method="POST" name="{0}{1}">' + 

              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="text" list="titulos" name="titulo" />' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="date" name="fecha" />' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="row mb-3">' +
                '<div class="col">' +
                  '<div class="input-group"><span class="input-group-addon"></span>' +
                    '<input class="form-control" type="url" name="investigacion" />' +
                  '</div>' +
                '</div>' +
              '</div>' +
          '</form>' +
          '<div class="row">' +
            '<div class="col">' +
              '<a class="btn btn-primary" onclick="actualizar(`{0}`,`{1}`)">Actualizar</a>' +
              '<a class="btn btn-primary" onclick="borrar(`{0}`,`{1}`)" >Borrar</a>' +
            '</div>' +
          '</div>' +
        '</div>'

 function enviarPerfil(){

  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    if (oReq.readyState === 4) {
      if (oReq.status === 200) {
        $.notify("Cambios realizados exitosamente", "success");
      } else {
        $.notify("Ocurrio un error, verifique los datos", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Ocurrio un error, verifique los datos", "error");
  };
  debugger
  var form = document.forms.namedItem("perfilform");
  oData = new FormData(form);
  
  oReq.open("POST", endPoint.format("egresado/perfil",token), true);
  oReq.send(oData);

 }



 function actualizar(point, id){
  
    var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    if (oReq.readyState === 4) {
      if (oReq.status === 200) {
        $.notify("Cambio de datos exitoso", "success");
      } else {
        $.notify("Ocurrio un error, verifique los datos", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Ocurrio un error, verifique los datos", "error");
  };

  subEnp = "egresado/{0}/{1}"
  subEnp = subEnp.format(point,id)

  
  var form = document.forms.namedItem(point + id);
  oData = new FormData(form);
  oReq.open("POST", endPoint.format(subEnp,token), true);
  oReq.send(oData);
  
 }

 function borrar(point, id){

  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    if (oReq.readyState === 4) {
      if (oReq.status === 200) {
        $("#" + point + id).remove()
      } else {
        $.notify("Ocurrio un error, no se pudo eliminar", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Ocurrio un error, no se pudo eliminar", "error");
  };
  
  subEnp = "egresado/{0}/{1}"
  subEnp = subEnp.format(point,id)

  
  oReq.open("DELETE", endPoint.format(subEnp,token), true);
  oReq.send(null);


 }

 function agregar(point, ph1, ph2, ph3, ph4, ph5){
  
  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    if (oReq.readyState === 4) {
      if (oReq.status === 200) {
        $("#" + point).append(nuevo.format(point, JSON.parse(oReq.response).id, ph1, ph2, ph3, ph4, ph5))
      } else {
        $.notify("Ocurrio un error, no se pudo crear el elemento", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Ocurrio un error, no se pudo crear el elemento", "error");
  };

  subEnp = "egresado/{0}/{1}"
  subEnp = subEnp.format(point,0)

  oReq.open("GET", endPoint.format(subEnp,token), true);
  oReq.send(null);

 }

</script>
{% endblock %}