{% extends "indexSinFoto.html" %}
 
{% block body %}

<div class="da-section bg-light" id="Cargar">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-18 col-sm-15 mb-3 col-md-12">
            <div class="">
              <form name="carga" method="POST" enctype="multipart/form-data">
                <div class="h4 text-center mb-4 title"> Datos personales </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="nombre" placeholder="Nombre" required="required" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="apellido" placeholder="Apellido" required="required" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="
                    number" name="cedula" placeholder="Cèdula" required="required"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="
                    number" name="telefono" placeholder="Telefono" required="required"/>
                  </div>
                </div>
                <div class="h4 text-center mb-4 title"> Empleo actual </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="empresa" placeholder="Empresa" required="required" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="cargo" placeholder="Cargo" required="required" />
                  </div>
                </div>
                <div class="h4 text-center mb-4 title"> Egresados de la UC que conozcas </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="email" name="primerEgresado" placeholder="Primer egresado" required="required" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="email" name="segundoEgresado" placeholder="Segundo egresado" required="required" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Subir</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<script>

var form = document.forms.namedItem("carga");

form.addEventListener('submit', function(ev) {

  var user = {{user}}
  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, exitosamente cargados", "success");
      } else {
        $.notify("Error al cargar los datos, favor intentar luego", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error al cargar los datos, favor intentar luego", "error");
  };

  ev.preventDefault();
  oData = new FormData(form);
  debugger
  oReq.open("POST", endPoint.format("form/carga", user), true);
  oReq.send(oData);
  
}, false);


</script>

{% endblock %}
