{% extends "indexSinFoto.html" %}
 
{% block body %}

<div class="da-section bg-light" id="egresado">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-7 col-sm-12 mb-3">
            <div class="">
              <form action="./egresado/privado/" name="egresado" method="POST">
                <div class="row">
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="usuario" placeholder="Usuario" required="required"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="password" name="clave" placeholder="Clave" required="required"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Iniciar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="digae">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-7 col-sm-12 mb-3">
            <div class="">
              <form action="./digae/" name="digae" method="POST">
                <div class="row">
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="usuario" placeholder="Usuario" required="required"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="password" name="clave" placeholder="Clave" required="required"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Iniciar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="admin">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-7 col-sm-12 mb-3">
            <div class="">
              <form action="./admin/" name="digae" method="POST">
                <div class="row">
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="usuario" placeholder="Usuario" required="required"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="password" name="clave" placeholder="Clave" required="required"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Iniciar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="digae">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-7 col-sm-12 mb-3">
            <div class="">
              <form action="./vicerrectorado/" name="vice" method="POST">
                <div class="row">
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="usuario" placeholder="Usuario" required="required"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="password" name="clave" placeholder="Clave" required="required"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Iniciar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

{% endblock %}