{% extends "indexSinFoto.html" %}
 
{% block body %}

<div class="da-section bg-light" id="Cargar">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-18 col-sm-15 mb-3 col-md-12">
            <div class="">
              <form name="carga" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="file" name="egresados" placeholder="archivo" required="required" accept=".xls,.xlsx"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" type="submit">Subir</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="Cargar">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-13 col-sm-12 mb-8">
            <div class="">
              <p>El archivo a cargar, debe poseer los siguientes items por fila: Correo, Nombre, Apellido, Cèdula, Facultad, Fecha, Tìtulo</p>
              <p>Dicho archivo debe ser de tipo excel</p>
              <p>Los registros con datos incorrectos, seràn ignorados</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<script>
  
var form = document.forms.namedItem("carga");

form.addEventListener('submit', function(ev) {

  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, exitosamente cargados", "success");
      } else {
        $.notify("Error en el archivo, verifique sea un excel", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error en el archivo, verifique sea un excel", "error");
  };

  ev.preventDefault();
  oData = new FormData(form);
  oReq.open("POST", endPoint.format("digae/carga", token), true);
  oReq.send(oData);
  
}, false);


</script>

{% endblock %}
