{% extends "indexSinFoto.html" %}
 
{% block body %}

<div class="da-section bg-light" id="estadistico">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up">API</div>
      <div class="row">
        <div class="container">

      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-13 col-sm-12 mb-8">
            <div class="">

 <div class="h4 text-center mb-4 title">Estadisticas</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
         <div class="col-md-12">
            <div class="progress-container progress-primary"><span class="progress-badge">Consultas exitosas a la api</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ apiOkApi  }}%;"></div><span class="progress-value">{{ apiOkApi }}%</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="progress-container progress-primary"><span class="progress-badge">Envio de correos</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ email  }}%;"></div><span class="progress-value">{{ email }}%</span>
              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="row">
            <div class="col">
              <a class="btn btn-primary" href="{% url 'api_usos_xls' %}"> Reporte de uso de Api</a>
              <a class="btn btn-primary" href="{% url 'app_correo_xls' %}"> Reporte de correos</a>
              <a class="btn btn-primary" href="{% url 'reenviar_correo' %}"> Reenviar correos, no enviados</a>
            </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="correo">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-18 col-sm-15 mb-3 col-md-12">
            <div class="">
              <form name="correo">
                <div class="h4 text-center mb-4 title"> Configuraciòn servidor de correo </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="emailTLS" placeholder="Email TLS" required="required" value = "{{emailTLS}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="emailHost" placeholder="Email host" required="required" value = "{{emailHost}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="
                    number" name="emailPort" placeholder="Email port" required="required" value = "{{emailPort}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="
                    number" name="emailBackEnd" placeholder="Email BackEnd" required="required" value = "{{emailBackEnd}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="emailHostUser" placeholder="Email host user" required="required" value = "{{emailHostUser}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="emailHostPassword" placeholder="Email host password" required="required" value = "{{emailHostPassword}}" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary">Actualizar</button>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>
<!--
<div class="da-section bg-light" id="api">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up"></div>
      <div class="row">
        <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4"></div>
        <div class="row">
          <div class="col-md-18 col-sm-15 mb-3 col-md-12">
            <div class="">
              <form  name="api">
                <div class="h4 text-center mb-4 title"> Configuradion Api Linkedin </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="IdCliente" placeholder="ID cliente" required="required" value = "{{IdCliente}}"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="claveCliente" placeholder="Clave del cliente" required="required" value = "{{claveCliente}}"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary">Actualizar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>   
      </div>
    </div>
  </div>
</div>
-->

<script>

var form2 = document.forms.namedItem("api");

form2.addEventListener('submit', function(ev) {

  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, actualizados exitosamente", "success");
      } else {
        $.notify("Error al actualizar los datos, favor intentar luego", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error al actualizar los datos, favor intentar luego", "error");
  };

  ev.preventDefault();
  oData = new FormData(form);
  debugger
  oReq.open("POST", endPoint.format("actualizar/api", ""), true);
  oReq.send(oData);
  
}, false);




var form = document.forms.namedItem("correo");

form.addEventListener('submit', function(ev) {

  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    debugger
    if (oReq.readyState === 4) {

      if (oReq.status === 200) {
        $.notify("Datos, actualizados exitosamente", "success");
      } else {
        $.notify("Error al actualizar los datos, favor intentar luego", "error");
      }
    }
  };

  oReq.onerror = function (e) {
    $.notify("Error al actualizar los datos, favor intentar luego", "error");
  };

  ev.preventDefault();
  oData = new FormData(form);
  debugger
  oReq.open("POST", endPoint.format("actualizar/email", ""), true);
  oReq.send(oData);
  
}, false);



</script>



{% endblock %}
